<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>



  <div id="app">
    <h1 :class="classObject">Hello</h1>
    <button @click="isActive = !isActive">切り替え</button>
    <p v-once>{{message}}</p>
    <p>{{ number }}クリックされました</p>
    <button v-on:click="countUp">カウントアップ</button>
    <p v-on:mouseMove="changeMousePosition">マウスをのせて〜〜</p>
    <p>X:{{ x }} , Y:{{ y }}</p>
    <p>{{ sayHi() }}</p>
    <h1 :style="styleObject">Hello</h1>

    <ul>
      <li v-for="(fruit, index) in fruits">{{ index }}-{{ fruit }}</li>
    </ul>
    <ul>
      <li v-for="value in object">{{ value }}</li>
    </ul>
  </div>



  <script>
  new Vue({
      el: '#app',
      data: {
        message: 'HelloWorld!!!!!',
        number: 0,
        x:0,
        y:0,
        isActive:true,
        color:'red',
        bg:'bg-blue',
        textColor:'red',
        bgColor:'blue',
        styleObject:{
          color:'red',
          'background-color':'blue'
        },
        fruits:['apple', 'banana', 'purple'],
        object:{
          firstNama:'Taro',
          lastName:'Tanaka',
          age:21,
        }
      },

      computed:{
        classObject: function(){
          return { red: this.isActive, 'bg-blue': !this.isActive }
        }
      },

      methods: {
        sayHi: function () {
          this.message = "Hello Vue.js";
          return 'Hi';
        },
        countUp: function(){
          this.number += 1
        },
        changeMousePosition: function(event){
          this.x = event.clientX;
          this.y = event.clientY;
        }
      }
    })
  </script>
</body>
</html>

<style>
.red{
  color: red;
}

.bg-blue{
  background-color: blue;
}
</style>
